# Ignoriere Composer-Abhängigkeiten
pf-importlehrkraefte/vendor/
pf-importlehrkraefte/composer.lock

# IDEs, Logs, Temporäres
*.log
*.bak
*.tmp
.idea/
.vscode/
.DS_Store

# Zugangsdaten nie committen
pf-importlehrkraefte/includes/db_config.php
